@using Filmbox.Admin.Auth
@using Filmbox.Admin.Components.Pages
@inject AdminAuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

@inherits LayoutComponentBase

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            @*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
 *@            <button class="logout-btn" @onclick="Logout">Logout</button>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
private void Logout()
{
    AuthStateProvider.SignOut();
    Nav.NavigateTo("/login", replace: true);
}
}


